@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&family=Roboto:wght@100;300;400;500&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Roboto',sans-serif ;
}
body{
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(26,2,51,1) 15%, rgba(58,5,70,1) 35%, rgba(51,30,93,1) 43%, rgba(0,212,255,1) 100%);
}